@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #475569;
  --color-accent: #0EA5E9;
  --color-background: #F8FAFC;
  --color-surface: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}
